<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A simple quiz app for /r/jstogether project 0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="app.js"></script>

    <title>Quizzer</title>
</head>

<body ng-app="quizzerApp" ng-controller="quizCtrl as qc">
    <h1>This is a quiz</h1>
    <h2>An ugly, ugly quiz</h2>
    <p>Built with AngularJS, and uses the <a href='jservice.io'>jservice.io api</a> to get Jeopardy! questions</p>

    <div ng-show='qc.showform'>
        <label>How Many Questions would you like?</label>
        <input type='number' min=1 max=30 ng-model='qc.numQuestions'>
        <p>We'll be serving up: {{ qc.numQuestions }} questions</p>
        <button ng-click='qc.letsplay()'>Let's Play Jeopardy!</button>
    </div>
    <div ng-hide='qc.showform'>
        <h3>Let's play Jeopardy</h3>
        <div ng-repeat="question in qc.questions">
            <h4>[{{$index + 1}}]</h4>
            <p>Category: {{ question.category.title }}</p>
            <p>Value: {{ question.value }}</p>
            <p>{{ question.question }}</p>

            <input type='text'></input>
        </div>
        <br>
        <button ng-click='qc.submit()'>Check My Answers</button>
        <button ng-click='qc.stopplay()'>Back to settings</button>

    </div>



    <h2>Some Ideas for improvements if time permits:</h2>
    <ul>
        <li>Clean up and beautify</li>
        <li>Some more user-settings like number of questions, difficulty, etc</li>
        <li>A big picture of everyone's favorite Canadian, Alex Trebek</li>
    </ul>

    <p>Created by <a href="https://github.com/jchatkinson/jstogether-quizzer">jchatkinson</a> for <a href='https://www.reddit.com/r/jstogether/'>/r/jstogether</a> <a href='https://www.reddit.com/r/jstogether/comments/3fr1ai/project_0_quiz_app/'>Project 0</a></p>
</body>

</html>